.match-container{
  margin-bottom: 60px;

}

.match{
    display: flex;
    padding: 20px;
    width: 60vw;
    justify-content: space-around;

}

.blue-background{
  background-color: #0051ff88;
}

.red-background{
  background-color: #ff00228a;
}

.participants-container {
    display: flex;
    margin-left: 20px;
}
  
  .single-participant-container {
    display: flex;
    align-items: center;
    width: 200px;
    height: 30px;
  }
  
.champion-icon{
    height: 20px;
    border-radius: 50%;

}



.bold-name{
    font-weight: bold;
}


.profileIcon{
    width: 50px;
}

.champion{
    height: 50px;
    border-radius: 50%;

}
.items{
    height: 30px;
}
.rune-icon{
  height: 40px;
}
.rune-path-icon{
  height: 20px;
}

.participant-name{
    cursor: pointer;
}

.dropdown-content {
  display: block;
  transition: max-height 0.5s ease-out;
  overflow: hidden;
}

.dropdown-content.closed {
  max-height: 0;
}

.dropdown-button{
  height: 20px;
}