.container {
    height: 50vh;
    width: 20vw; 
    overflow-y: auto; 
    background-color: #010A13;
  }
  
  .items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
  }
  
  .item {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .item img {
    width: 70%; 
    height: auto; 
  }

  .item-details {
    position: absolute;
    background-color: #010A13;
    border: 2px solid #C89B3C;
    color: #C89B3C;
  }